table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    border: 1px solid #c53232;
    padding: 8px;
}
th {
    background-color: #0866ca;
    text-align: left;
    cursor: pointer;
}
.collapsible {
    width: 50%; 
    margin: 20px 0;
    cursor: pointer;
    background-color: #4180bb;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    border: 1px solid #993535;
}
.content {
    display: none;
}
.active {
    display: table;
}
input[type="text"] {
    margin-bottom: 15px;
    padding: 5px;
    width: 30%;
    font-size: 16px;
}